.main-title {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

/* ========================================================
                       SEARCH FORM
==========================================================*/

.search-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form-wrapper input,
.search-form-wrapper button {
  margin: 1em 0.5em;
  border-radius: 8px;
  outline: none;
}

.search-form-wrapper input {
  height: 3em;
  width: 50vw;
  border: 1.5px solid rgb(202, 202, 202);
  padding: 0 1rem;
}

.search-form-wrapper button {
  height: 3rem;
  width: 5em;
  background-color: #d64641;
  color: white;
  border: none;
  font-size: 1.3rem;
}

/* ========================================================
                          ISSUES
==========================================================*/

.issue-item {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  /* margin: 2rem 0; */
  border-bottom: 1px solid lightgray;
}
.issue-item .content-body {
  width: 55em;
}

.issue-item .content-body .title {
  margin-right: 0.8rem;
}
.issue-item:hover {
  background-color: lightgray;
}
.issue-item ul li {
  list-style-type: none;
}

.issue-item .avatar {
  width: 9em;
  height: 9em;
}

.issue-item .title {
  min-width: 5em;
}

.issue-item .gray-text {
  color: rgb(145, 145, 145);
  margin-right: 0.5rem;
}

.issue-item .description {
  height: 8em;
  display: flex;
  align-items: center;
}

.issue-item .time-and-comment {
  display: flex;
  justify-content: space-between;
}
